@font-face {
    font-family: 'font';
    src: url(awesomefont.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'font';
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background-color:beige;
}
#nav-part-1 h3{
    font-size: 40px;
    font-weight: 500;
}
#nav-part-2{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cover-video{
    height: 300px;
    width: 100%;
    padding: 40px 0px;
    object-fit: cover;
}
#course{
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;
}
#course-1{
    font-size: 20px;
    font-weight: 400;
    padding: 30px 40px;
}
#course-1 h3{
    font-size: 25px;
    font-weight: 600;
    padding: 20px 0px;
}
#course-1 h4{
    font-size: 16px;
    font-weight: 400;
    padding: 0px 30px;
}
#course-2 {
    width: 70%;
    border-left: solid 1px #000;
    padding: 30px 40px ;
}
#course-2 h3{
    font-size: 16px;
    font-weight: 400;
    padding: 0px 30px ;
}
#course-2 h2{
    font-size: 25px;
    font-weight: 600;
    padding: 20px 0px;
}
#about-us{
    padding: 60px 50px;
}
#about-us h3{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding:30px  0px;
}
#about-beautian{
    display: flex;
    justify-content: space-between;
}
#beautian-detail{
    border-left: solid 2px #000;
    padding: 30px 40px;
    font-size: 20px;
    font-weight: 400;
    word-spacing: 10px;
    letter-spacing: 3px;
}
#beautian-image img{
    height: 350px;
    padding: 0px 30px;
}